{% extends "navigation.html" %}

{% block content %}
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding" style="width:80%;">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/static/isaaccjpg.jpg" style="width:90%;hight:90%" alt="isaac picture">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-black"></i>Undergradaute Student</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-black"></i>Ames, Iowa</p>
          <a href="mailto:itettehbvu@gmail.com" target="_top"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black"></i>itettehbvu@gmail.com</a>
          <hr>

          <p class="w3-xlarge"><b><i class="fa fa-share-square fa-fw w3-margin-right w3-text-black"></i>Social</b></p>
          <p ><a href="https://github.com/isaac34mi" target="_blank"><i class="fa fa-github fa-fw w3-margin-right w3-large w3-text-black"></i>@isaac34mi</a></p>
          <p ><a href="https://linkedin.com/in/isaac-tetteh" target="_blank"><i class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-black"></i>isaac-tetteh</a></p>
          <p ><a href="https://twitter.com/isaac34mi" target="_blank"><i class="fa fa-twitter fa-fw w3-margin-right w3-large w3-text-black"></i>@isaac34mi</a></p>
          <hr>

          <p class="w3-xlarge"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-black"></i>Skills</b></p>
          <p>Python</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-black" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Java</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-black" style="width:60%">
              <div class="w3-center w3-text-white">60%</div>
            </div>
          </div>
          <p>R</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-black" style="width:75%">
              <div class="w3-center w3-text-white">75%</div>
            </div>
          </div>
            <p>C++</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-black" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>
          <p>SQL</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-black" style="width:70%">
              <div class="w3-center w3-text-white">70%</div>
            </div>
          </div>
          </div>
          <br>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Client Services 
          </b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2017 - Current</h6>
         <p>
          Clean client data into a tidy format for implementation.
          Data mapping and validation.
          Help develop algorithms for graph database traversal.</p>
          <hr>
          <h5 class="w3-opacity"><b>IT Administrator Student
          </b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>November 2015 - May 2016</h6>
         <p>
           I retrieved IT Assets from other employees in a timely manner.
            I also entered IT Asset data into the database system.
           Used python to read files to collect data and ordered products and managed stock.</p>
          <hr>
        </div>
      </div>
        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-text-black"></i>Leadership</h2>
          <div class="w3-container">
             <h5 class="w3-opacity">Boy Scouts Patrol Leader </h5>
             <li> Represented my troop in a World camporee
             <li> TenderFoot, Second Class and First Class ranks
            <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2006 - May 2009</h6>
         </div>
      </div>
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-text-black"></i>Certificates</h2>
         <div class="w3-container">
            <h5 class="w3-opacity">Google Analystics Certified</h5>
            <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>November 2016 - May 2018</h6>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Iowa State University</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Expected Decemeber 2018</h6>
          <p>Management Information Systems with minor in Data Science</p>
          <p></p>
          <hr>
        </div>    
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

{% endblock %}
